<p id="notice"><%= notice %></p>

<p>
  <strong>Venue:</strong>
  <%= @visit.venue_id %>
</p>

<p>
  <strong>Dog:</strong>
  <%= @visit.dog_id %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @visit.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @visit.ends_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @visit.status %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
